.header {
    position: fixed;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    top: 0;
    right: 0;
    left: 0;
    
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block ;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;

}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
    
}

.header__navbar-item--separate::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #fb9086;
    height: 15px;
    right: -9px;
    top: 50% ;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;

}

.header__navbar-title--no-pointer {
    cursor: vertical-text;
    color: var(--white-color);
}

/*Header QR Code*/
.header__qr {
    background-color: var(--white-color);
    width: 225px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    z-index: 1;
    animation: fadeIn ease-out 0.5s;
}

.header__qr::before{
    content: "";
    width: 100%;
    height: 10%;
    display: block;
    position: absolute;
    left :0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img{
    height: 20px;
}

/* Header Notif */
.header__notify {
    position: absolute;
    top: 110%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solod #a07272;
    cursor: default;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    animation: headerNotifyGrowth ease-in 0.2s ;
    will-change: opacity, transform;
    transform-origin:  90% top;
    display: none;
}

.header__notify::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 90px;
    height: 20px;
    top: -16px;
}
/* Animation */
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #666;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    display: block;
    margin: 0 10px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover{
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background-color: rgba(238 , 75, 43, 0.06);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    background-color: rgba(238 , 75, 43, 0.1);
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #756F6E;
}

.header__notify-footer {
    text-align: center;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: inline-block;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}


/*Register*/
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.modal__body {
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius: 5px;
    --growth-from: 0.7;
    --growth-to: 1;
}

/* Authen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: default;
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form_aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    justify-content: flex-end;
    display: flex;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5a98;
    color: var(--white-color);
}

.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color);

}

.auth-form__socials-title {
    margin: 0 28px; 
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666 ;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
    
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -4px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.header__search {
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 2px;
}


.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap { 
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2rem;
    position: relative;
}

.header__cart:hover .header__cart-list {
    display: block;

}

.header__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    right: -7px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    /* display: none; */
}

.header__cart-list::after{
    content:"";
    position: absolute;
    right: 183px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    display: none
}

.header__cart-list--no-cart{
    padding: 28px 0;
}

.header__cart-no-cart-img{
    width: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #939393;
    padding: 0 10px;
    border-radius: 3px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    position: relative;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search History */
.header__search-history {
    /* position: fixed; */
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 3px #666;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 10px 12px 0 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    line-height: 38px;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    line-height: 38px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}